# created by virtualenv automatically
/.idea/
/pyvenv.cfg
/Scripts/
/Lib/
/Lesson 4/modul_2/index.html
/Lesson 4/modul_2/new_index.html
/Lesson 4/modul_2/log.csv
/Lesson 4/modul_2/data.xml
/Lesson 4/modul_2/new_data.xml
